apiVersion: v1
kind: ServiceAccount
metadata:
  name: rancher-fip-lb-controller
  namespace: rancher-fip-manager
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: rancher-fip-lb-controller
rules:
- apiGroups:
  - ""
  resources:
  - services
  - namespaces
  - secrets
  - configmaps
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
- apiGroups:
  - metallb.io
  resources:
  - ipaddresspools
  - l2advertisements
  verbs:
  - get
  - list
  - watch
  - create
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: rancher-fip-lb-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: rancher-fip-lb-controller
subjects:
- kind: ServiceAccount
  name: rancher-fip-lb-controller
  namespace: rancher-fip-manager
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rancher-fip-lb-controller
  namespace: rancher-fip-manager
  labels:
    app: rancher-fip-lb-controller
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: rancher-fip-lb-controller
  namespace: rancher-fip-manager
  labels:
    app: rancher-fip-lb-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: rancher-fip-lb-controller
subjects:
- kind: ServiceAccount
  name: rancher-fip-lb-controller
  namespace: rancher-fip-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rancher-fip-lb-controller
  namespace: rancher-fip-manager
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: rancher-fip-lb-controller
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: rancher-fip-lb-controller
    spec:
      serviceAccountName: rancher-fip-lb-controller
      containers:
      - name: rancher-fip-lb-controller
        image: ghcr.io/joeyloman/rancher-fip-lb-controller:latest
        imagePullPolicy: Always
        args:
          - --leader-elect=true
          - --lease-lock-name=rancher-fip-lb-controller-lock
          - --lease-lock-namespace=rancher-fip-manager
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: rancher-fip-lb-controller
      terminationGracePeriodSeconds: 30